

/*
these styles are taken from
http://matthewjamestaylor.com/blog/keeping-footers-at-the-bottom-of-the-page
selectors: element, #id, .class
*/

html, body {
   margin:0;
   padding:0;
   height:100%;
}

/*   
pagecontainer
  pagehead
  pagecontent
     main-menu-div
     page-wrapper
        stockyframe
           switchview
  pagefoot
*/

/* NOTE: padding generates space INSIDE an elements borders 
margin creates space OUTSIDE an element.

NOTE: colours, use symbolic names, defined here:
https://www.w3schools.com/colors/colors_names.asp


*/

.helptext {
    display: inline-block;
    color: #880;
    font-size: 0.8em;
    font-style: italic;
    padding: .5em;
    /* max-width: 20em;*/
    /* max-width: 50% ;*/
}

.helptext a[rel="ctrl"] {
    color: #888;
    font-size: 0.8em;
    cursor: pointer;
}

.helptext .fulltext,
.fulltext.detached {
    display: none;
    position: absolute;
    border: 1px solid #FF9; /* FF9 is superior to both 8 and 10. */
    background-color: #ffc;
    color: #880;
    font-size: .7em;
    font-style: italic;
    padding: .5em;
    max-width: 20em;
}


/* define what the status panel (with login and bluetooth status_ looks like */
/*     
    border: 1px solid #544E4E;
    background-color: #716B6B;
*/
.statuspanel {
    position:relative;
    display: inline-block;
    overflow: hidden;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 1px 1px 11px #330033;
    background-color: DarkGray;
}

#pagecontainer {
   min-height:100%;
   position:relative;
}

/* heights of : pagehead + pagecontent + pagefoot must be 100% */

#pagehead {
   background:#ff0;
   padding:10px;
   box-shadow: 1px 1px 11px #330033;
}

#pagecontent {
   padding: 10px;
   padding-bottom: 60px;   /* Height of the footer */
   min-height:100%;
   width:100%;
   height: calc(100% - 60px);
   display: block;
}

#pagefoot {
   position:absolute;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
   background:#6cf;
   z-index: 2; /* Stay on top */
   box-shadow: 1px 1px 11px #330033;
}


#page-wrapper {
    height: 100%;
    width: 80%;
    left: 20%;
    position: relative;
   box-shadow: 1px 1px 11px #330033;
}

#stockyframe {
    height: 100%;
    width: 100%;
    left: 0%;
    position: relative;
}


.switchview-cls {
    height: 100%;
    width: 100%;
    left: 0%;
    position: relative;
}

.scologopic-cls {
    color: #fff;
    /* background: #202020;*/
    width: 30%;
/* text-align: center;
font-size: 30px;
font-weight: 700;  */
}


/* style for the stock location button  */
.locbutton-cls {
    width: 100%;
    padding: 16px 20px;
    border: 5px;
    /* border-radius: 10px; */
    background-color: #f1f1f1;
    /* background-color: #ffffff; */
    box-shadow: 1px 1px 11px #330033;
    margin-bottom: 10px;
    text-align: center;
  /*  font-size: 30px;
    font-weight: 700;  */
}

.menubar-cls {
    box-shadow: 1px 1px 11px #330033;
}

.sort-table {
    width: 100%;
    box-shadow: 1px 1px 11px #330033;
}

.scostockitem-cls[tooltip]:hover:after  {
    content: attr(tooltip);
    z-index: 9999;
    box-shadow: 1px 1px 11px #330033;
    position: absolute;
    left: 20%;
    width: 40%;
    padding: 2em;
    font-size: smaller;
    border: 1px solid;
    color: red;
    background: black;
}
/* display up/down arrows on sortable table headings.
  Modified from 
  https://stackoverflow.com/questions/17639562/add-sorting-arrows-to-th-like-table-sorter
NOTE: these arrows are currently not clever, i.e. do not change with the sorted state.
*/


.headerSortDown:after,
.headerSortUp:after{
  content: ' ';
  position: relative;
  left: 2px;
  border: 8px solid transparent;
}
.headerSortDown:after{
  top: 10px;
  border-top-color: silver;
}
.headerSortUp:after{
  bottom: 15px;
  border-bottom-color: silver;
}

.headerSortUpDown:after{
  content: ' ';
  position: relative;
  left: 2px;
  border: 8px solid transparent;
  border-top-color: silver;
  border-bottom-color: silver;
}

.headerSortUpDown:hover{
    color: blue !important;
}

/*   top: 0px;
  bottom: -35px

 */

.headerSortDown,
.headerSortUp,
.headerSortUpDown,{
  padding-right: 10px;
}


/* .w3-green,.w3-hover-green:hover */
.scanFOUNDclass {
    color:#fff!important;background-color:#4CAF50!important
}

/* .w3-red,.w3-hover-red:hover{  */
.scanABSENTclass {
    color:#fff!important;background-color:#f44336!important
}

 /* .w3-purple,.w3-hover-purple:hover{  */
 .scanUNEXPECTEDclass {
     color:#fff!important;background-color:#9c27b0!important
}

 
 /* these are for classes defined in forms.py  */
.scoform { display: table; }
.scoformdiv { display: table-row; }
.scoformlabel { display: table-cell; }
.scoforminput { display: table-cell; }
