

# no development environment files
stocky-devel/env/
stocky-devel/stocky-devel-state/
stocky-devel/stocky-devel-config/
# only the sample_logo PNG file is included, exclude all other PNG files...
stocky-devel/stocky/static/*.png
!stocky-devel/stocky/static/sample_logo.png

# mypy cache files
.mypy_cache/

# unwanted emacs files
*~
flymd.*

# generated caches
__javascript__/
__pycache__
.pytest_cache

