Flask>=0.12
# need these for websocket support
Flask-Sockets>=0.2
gevent-websocket>=0.10.
gunicorn>=19.7
#--time zone information
pytz
#--
pyyaml>=3.12
fuzzywuzzy>=0.16
python-Levenshtein>=0.12
#- detecting USB events
inotify>=0.2.9
# under jessie:
pyusb>=1.0
#..under stretch libusb1
#--for reading the serial device
pyserial>=3.4
# for accessing the QAI server
requests>=2.18
# --- client side ---
transcrypt>=3.6.27
# for testing
pytest-cov>=2.5.1
