Flask>=0.12
# need these for websocket support
Flask-Sockets>=0.2
gevent-websocket>=0.10.
gunicorn>=19.7
#--time zone information
pytz
python-dateutil>=2.7.3
#--
pyyaml>=3.12
fuzzywuzzy>=0.16
python-Levenshtein>=0.12
#- detecting USB events
inotify>=0.2.9
# under jessie:
pyusb>=1.0
#..under stretch libusb1
#--for storing the QAI database
SQLAlchemy>=1.2.10
#--for reading the serial device
pyserial>=3.4
# for accessing the QAI server
requests>=2.18
# --- client side ---
transcrypt>=3.6.27
#--everything below this line is for testing
flake8>=3.5.0
pytest>=3.5.1
coverage>=4.5.1
pytest-codestyle>=1.2.2
