<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='w3.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='leds.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='font-awesome-4.7.0/css/font-awesome.min.css') }}">
    <title>Stocky - {% block pagetitle %}{% endblock %}</title>
  </head>
  <body>
    <div id="pagecontainer">
      <div id="pagehead" class="w3-row">{% block pagehead %}{% endblock %}
      </div>
      <div id="pagecontent">{% block pagecontent %}{% endblock %}
      </div>
      <div id="pagefoot">
	BC CfE Stocky Program version 0.1.7 (wscott@cfenet.ubc.ca, December 2018)
      </div>
    </div>
  </body>
  {% block scriptcontent %}{% endblock %}
</html>
