{% extends "base.html" %}
{% block pagetitle %}Login Page{% endblock %}
%
{% block pagehead %}
<h1>QAI Login for Stocky</h1>
<a href="#">
  <img class="scologopic-cls" src="{{ url_for('static', filename='lablogo.png') }}">
</a>
<div id="state-div" class="led-red"></div>
<!-- <div id="scannerstate" title="Scanner Status" class="led-red"></div>  -->
{% endblock %}
%
{% block pagecontent %}
<form method="POST" action="/login">
    <div>{{ form.username.label }}: {{ form.username() }}</div>
    <div>{{ form.password.label }}: {{ form.password() }}</div>
    <div><input type="submit" value="Log in"></div>
</form>
{% endblock %}
