{% extends "base.html" %}
{% block pagetitle %}Main Page{% endblock %}
%
{% block pagehead %}
<div id="headsep" class="w3-twothird w3-container">
<h1>Stocky</h1>
<a href="#">
  <img class="scologopic-cls" src="{{ url_for('static', filename='lablogo.png') }}">
</a>
</div>
<div id="state-div" class="w3-third w3-container statuspanel"></div>
{% endblock %}
%
{% block pagecontent %}
<div id="main-menu-div" class="w3-light-grey w3-bar-block menubar-cls"></div>
<div id="page-wrapper" class="w3-light-grey w3-bar-block">
  <div id="stockyframe"> </div>
</div>
{% endblock %}
{% block scriptcontent %}
  <script src="{{ url_for('static', filename='w3.js') }}" charset="UTF-8" type="text/javascript"></script>
  <script src="{{ url_for('static', filename='svg.min.js') }}" charset="UTF-8" type="text/javascript"></script>
  <script src="/webclient/__target__/webclient.js" charset="UTF-8" type="module"></script>
{% endblock %}
